*~
*.swp
*.bak
tomoauto_init*
bin/talua
lua/*.log
lua/bin
lua/bin/*
lua/include
lua/include/*
lua/lib
lua/lib/*
lua/lua-5.2.3
lua/lua-5.2.3/*
lua/luafilesystem-1.6.2
lua/luafilesystem-1.6.2/*
lua/man
lua/man/*
lua/share
lua/share/*
lua/struct-0.2
lua/struct-0.2/*
